@tailwind base;
@tailwind components;
@tailwind utilities;



/*======================================== IMPORTS ======================================== */

/* OUTROS */
@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/essencial';
@import 'partials/header';



.hero {
    padding: 6rem 8rem;
    @include FlexBox(space-between, center, row);
    gap: 2rem;
    background-color: $color-beige-lighten;

    .content {
        @include FlexBox(start, flex-start, column);
        gap: 1.5rem;

        h1 {
            @apply text-5xl font-bold;
        }

        p {
            color: $color-black-2;
            font-weight: $weight-light;
        }
    }

    img {
        max-width: 350px;
        width: 100%;
        border-radius: $radius-around;
        border: solid 7px $color-orange;
        padding: 2px;
        cursor: pointer;
    }
}

.main {
    position: relative;
    padding: 6rem;


    .sidebar {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
        background-color: #ccc;
        transform: translateX(100%);
        z-index: 50;
    }

    .content-explorar {
        @apply flex flex-row justify-between w-full items-center mb-10;

        h3 {
            @apply text-gray-500;
            margin-left: 1rem;
            font-size: $size-x-large;
            font-weight: $weight-bold;
        }

        .other {
            @apply flex flex-row justify-between items-center;
            gap: .5rem;

            .filter {
                @apply border border-orange-600 cursor-pointer font-medium text-orange-400 transition-all duration-500 hover:text-white hover:bg-orange-600;
                padding: 0.7rem;
                border-radius: $radius-second;
                height: 45px;

            }

            .filtros {
                @apply flex flex-row justify-between items-center gap-2;
            }

            #seletar {
                @apply bg-gray-50 text-orange-600 transition-all duration-500 hover:text-white hover:bg-orange-600;

                option {
                    @apply border-b border-gray-300 bg-gray-50 text-gray-900;
                }
            }

            .filter {

                p,
                i,
                option {
                    font-size: 16px;
                }
            }
        }
    }

    .explorartudo {
        width: 100%;
        height: 100%;


        .FoodSwiper {
            h3 {
                @apply text-gray-800;
                font-size: $size-biggest;
                font-weight: $weight-semibold;
                margin-top: 4rem;
                margin-left: 1rem;
            }

            .swiper-wrapper {
                @apply shadow-none;
                padding-inline: 1rem;
                padding-top: 1rem;

                .swiper-slide {
                    @apply relative shadow-none;
                    @include FlexBox(center, center, row);

                    .card-pratos {
                        min-width: 100%;
                        scale: 1;
                        @apply transition-all duration-500 overflow-hidden shadow-md;
                        transition: .4s;
                        border-radius: $radius-second;

                        .icons {
                            @apply flex flex-col items-end justify-center top-3 -left-7 transition-all duration-500 z-40 absolute bg-transparent;


                            .bx-heart,
                            .bx-cart-alt {
                                @apply text-2xl text-white cursor-pointer font-extralight hover:text-orange-600;
                                transition: .4s;
                            }
                        }

                        img {
                            @apply w-full cursor-pointer relative;
                            object-fit: cover;
                            border-top-left-radius: $radius-second;
                            border-top-right-radius: $radius-second;
                        }

                        .info {
                            @extend .informacoes-cards-vertical;
                            height: 220px;
                            padding: .7rem;
                            background-color: $color-white;
                            border-bottom-left-radius: $radius-second;
                            border-bottom-right-radius: $radius-second;

                        }

                        &:hover .icons {
                            @apply left-4;
                        }
                    }
                }
            }


            .swiper-botoes {
                @apply absolute;
                width: 170px;
                @include FlexBox (space-between, flex-start, row);
                gap: 1rem;
                top: 8%;
                right: -1%;
                z-index: 3;

            }

            .swiper-button-prev,
            .swiper-button-next {
                @apply text-orange-600 bg-orange-50;
                scale: .4;
                font-weight: $weight-extrabold;
                padding: 3rem;
                border-radius: $radius-around;
                box-shadow: $shadow-3;
                transition: $transicao;

                &:hover {
                    @apply text-orange-600 bg-orange-100;
                    scale: .4;
                }
            }
        }

    }

    /*======================================== EMPRESAS ======================================== */


    .empresas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 6rem 0 2rem;
        padding: 4rem;
        background-color: #fff;
        box-shadow: $box-shadow;
        border-radius: 15px;
        gap: 3rem;


        h2 {
            text-align: center;
            align-self: center;
            color: $color-black-2;
            font-size: $size-biggest;
            font-weight: $weight-bold;
            text-transform: uppercase;
        }


        .EmpresasSwiper {
            width: 100%;
            height: 100%;
            @apply overflow-x-hidden;

            .swiper-wrapper {


                .swiper-slide {
                    @apply flex flex-col items-center justify-center;

                    .emp-link {
                        border-radius: 50%;
                        padding: 1rem;
                        background-color: #fff;
                        @include FlexBox (center, center, column);
                        width: 150px;
                        height: 150px;
                        @apply border-4 border-orange-500 rounded-full transition-all duration-500 ease-in-out;

                        img {
                            width: 90%;
                            height: 90%;
                            cursor: pointer;

                            &:hover {
                                scale: .95;
                            }
                        }
                    }

                    h3 {
                        @apply mt-2 text-base font-semibold cursor-pointer hover:text-orange-600;
                        color: $color-black-2;
                    }

                    p {
                        @apply text-gray-500 text-sm;
                    }
                }
            }
        }
    }

}


@import 'partials/respoExplore';
@import 'partials/footer';