@tailwind base;
@tailwind components;
@tailwind utilities;



/*======================================== IMPORTS ======================================== */

/* OUTROS */
@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/essencial';
@import 'partials/header';


main{
    padding: 0;
}

section {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: $weight-bold;
    @apply text-orange-600;
}

.benefits,
.testimonials,
.signup {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit-item,
.testimonial-item {
    flex: 1 1 300px;
    padding: 20px;
    /* border-radius: 8px; */
    text-align: center;
}

.testimonial-item{
    .swiper-wrapper{
        padding-inline: 1rem;
    }
}

.benefit-item {
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
        @apply text-4xl font-bold;
        color: $color-black-2;
    }
}

.benefit-item img {
    width: 450px;
}

.benefit-item .content {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.benefit-item .right {
    text-align: right;
    margin-right: 6rem;

}

.benefit-item .left {
    text-align: left;
    margin-left: 6rem;

}

.benefit-item .right h2,
.benefit-item .left h2 {
    margin-bottom: 1rem;
}

.benefit-item .right p,
.benefit-item .left p {
    color: $color-black-3;
    font-weight: 200;
    font-size: large;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;


    .btn-principal{
        @apply mt-4;
    }
}

#testimonials{
    h1{
        margin-top: 2rem;
    }
}

#signup{
    background-color: #f1f1f1;
    h1{
        padding: 4rem auto;
        margin: 2rem 0rem 2rem;
    }

    #signup-form{
        @apply p-8 shadow-lg mb-10 bg-white;
        border-radius: $radius-second;

        input{
            @apply rounded-md;
        }
    
    }
}


#support{
    background-color: #f1f1f1;
}



.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
}

.swiper-slide .content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.swiper .person{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.swiper-slide .person img{
    width: 60px;
    border-radius: 50%;
}

.swiper-slide p{
    color: gray;
}

.swiper-slide .comments{
    color: rgb(69, 69, 69);
}

.swiper .avs i{
    color: rgb(255, 200, 0);
}

.swiper{

    .swiper-pagination-bullet{
        @apply bg-orange-600;
    }
}

@import 'partials/respoPartners';
@import 'partials/footer';