@tailwind base;
@tailwind components;
@tailwind utilities;



/*======================================== IMPORTS ======================================== */

/* OUTROS */
@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/essencial';
@import 'partials/header';


section {
    max-width: 1200px;
    margin: 6rem auto 8rem;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    @apply text-4xl font-bold text-orange-600;
}


.our-history {

    .content {
        @apply flex flex-row justify-between items-center gap-4;
        p{
            max-width: 500px;
        }

    }
}


.values{
    
    .value-item{
        @apply text-white bg-orange-600;
        h3{
            @apply text-8xl mb-4 font-bold;
        }
    }

}


.team-section{
    h2{
        margin-bottom: 3rem;
    }

    .team{
        .team-member{
            .photo{
                @apply text-6xl rounded-full self-center flex-grow-0 mx-auto;
            }

            h4{
                @apply text-lg font-semibold  mt-2;
            }

            p{
                @apply text-sm text-gray-500;
            }
        }
    }
}


.info,
.values,
.team,
.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info-item,
.value-item,
.team-member {
    flex: 1 1 300px;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 8px;
    text-align: center;
}

.contact-item{
    @apply flex flex-col gap-2 bg-white p-6 justify-between rounded-lg mt-8 shadow-lg w-full;
    strong{
        @apply text-lg;
    }
}
@import 'partials/respoWhyKino';
@import 'partials/footer';