@tailwind base;
@tailwind components;
@tailwind utilities;



/*======================================== IMPORTS ======================================== */
/* TIPO DE LETRA */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* OUTROS */
@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/essencial';
@import 'partials/header';






section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #ff7b00;
}
.features, .values, .testimonials, .cta {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.feature-item, .value-item, .testimonial-item, .cta-box {
    flex: 1 1 300px;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 8px;
    text-align: center;
}
button {
    padding: 10px;
    background: #ff7b00;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #e06b00;
}




@import 'partials/respoPartners';
@import 'partials/footer';