/*======================================== TAGS PRINCIPAIS ======================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: $family-body;
    font-size: 16px;
    background-color: $color-white-background;
}

a {
    text-decoration: none;
    transition: .4s;
}

li {
    list-style: none;
}

h1,
h2 {
    font-family: $family-title;
}


/* =========================================== Principais Variáveis =========================================== */



.container {
    padding: 4rem 8rem;

    h2 {
        @apply text-4xl font-bold text-gray-800 uppercase;
        margin: 0;
    }
}


.btn-principal {
    @apply text-white bg-orange-600 hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2 text-center;
}

.btn-third {
    @apply text-white bg-transparent border border-orange-600 hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2 text-center;
}


.btn-alt {
    @apply text-gray-600 bg-transparent border border-gray-400 transition-all duration-700 ease-in-out hover:bg-gray-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 text-center;
}




.informacoes-cards-horizontal {

    @include FlexBox(center, stretch, column);
    flex-grow: 1;

    .acima {
        @include FlexBox (space-between, center, row);
        flex-grow: 1;

        .spans {
            margin-bottom: .5rem;

            span {
                font-size: .6rem;
                font-weight: .6rem;
                border-radius: $radius-second;
                padding: .3rem .45rem;
            }

            .pop {
                color: rgb(126, 0, 126);
                background-color: rgb(255, 228, 255);
            }

            .freeshipping {
                color: $color-green-dark;
                background-color: $color-green-light;
            }
        }

        .cta {
            @include FlexBox(space-between, center, row);
            gap: .35rem;

            .btn-p-2,
            i {
                padding: 0.5rem;
                border-radius: $radius-first;
            }

            .btn-p-2 {
                font-size: $size-small;

                &:hover {
                    scale: 1.02;
                }
            }

            i {
                font-size: $size-base;
                font-weight: $weight-medium;
                background-color: $color-green-light;
                color: $color-green-dark;
                transition: $transicao;
                cursor: pointer;

                &:hover {
                    background-color: $color-green-dark;
                    color: $color-green-light;
                }
            }
        }
    }

    h3 {
        color: $color-black-2;
        font-size: $size-large;
        margin-left: .4rem;
    }

    .description {
        @include FlexBox(start, center, row);
        gap: 0.5rem;
        margin-left: .5rem;

        p {
            opacity: .7;
            font-weight: $weight-light;
            font-size: $size-smallito;
        }

        .sep {
            width: 5px;
            height: 1px;
            margin-top: .2rem;
            border-radius: $radius-around;
            background-color: $color-black-3;
        }
    }

    .extras {
        @include FlexBox (space-between, center, row);
        width: 100%;

        .avaliacoes {
            @include FlexBox (start, flex-start, row);
            margin-top: 1.3rem;
            margin-left: .4rem;
            gap: 0;
            align-self: flex-start;

            i {
                color: $color-yellow;
                cursor: pointer;
                transition: $transicao;

                &:hover {
                    transform: translateY(-1px);
                }
            }
        }

        .price {
            align-self: flex-end;
            font-weight: $weight-bold;
            font-size: $size-smaller;
            color: $color-black-3;
        }
    }
}

.informacoes-cards-vertical {
    @include FlexBox(space-between, stretch, column);

    .part-above {
        .first {
            @apply flex flex-row justify-between items-center;

            .avaliacoes {
                @apply text-yellow-500 flex flex-row items-center;

                i {
                    @apply transition-all duration-500 cursor-pointer hover:-translate-y-1/4;
                }
            }
        }

        h3 {
            @apply text-xl font-semibold text-gray-800 mt-7;
            margin-left: 0.3rem;
        }

        .descs {
            @apply text-sm font-extralight text-gray-700;
            margin-left: 0.3rem;

            .impo {
                @apply flex flex-row;
            }
        }
    }

    .second {
        @include FlexBox (start, center, row);
        @apply mt-2;

        .spans {
            @apply -mt-2;

            span {
                font-size: .6rem;
                font-weight: .7rem;
                border-radius: $radius-second;
                padding: .3rem .45rem;
            }

            .pop {
                color: rgb(126, 0, 126);
                background-color: rgb(255, 228, 255);
                @apply transition-all duration-500 cursor-pointer;

                &:hover {
                    color: rgb(255, 228, 255);
                    background-color: rgb(126, 0, 126);

                }
            }

            .freeshipping {
                color: $color-green-dark;
                background-color: $color-green-light;
                @apply transition-all duration-500 cursor-pointer;

                &:hover {
                    color: $color-green-light;
                    background-color: $color-green-dark;
                }
            }
        }
    }

    .cta {
        @apply flex flex-col items-stretch;
    }
}





/*======================================== PRINCIPAIS ANIMAÇÕES ======================================== */