@import './vars';
@import './mixins';
@import './essencial';






@media (max-width: 1300px) {

    .services,
    .locais,
    .food {
        padding: 2rem 3rem;
    }

    .cadastro-locais {
        padding: 2rem 6rem;
    }

}


@media (max-width: 1150px) {

    .destaque {
        padding-inline: 6rem;

        .content {
            gap: 1rem;

            img {
                justify-self: center;
            }
        }
    }

    .services {
        margin: 0;

        .content {

            padding: 2rem 0;
        }
    }

    /* LOCAIS */
    .locais {
        .content {
            @include FlexGrid (2, 250px);

            .link-card {

                img {
                    width: 100%;
                }
            }
        }
    }


}



@media (max-width: 992px) {

    header {
        width: 100%;

        .mobile-menu {
            scale: .6;
        }

        .logo-link {
            display: none;
        }

        .navbar {

            .nav-list {
                margin-top: 3rem;
            }
        }

        .extras {
            .link-extra {

                i {
                    font-size: 1.3rem;
                }

                .link-login {
                    font-size: $size-base;
                }
            }
        }
    }


    .container {


        h2 {
            font-size: $size-big;
            margin: 2rem auto 1rem;
            text-align: center
        }
    }

    /*======================================== INDEX ======================================== */

    /* DESTAQUE */
    .destaque {
        padding-inline: 2rem;
    }

    /* SERVIÇOS */
    .services {
        @include FlexBox (center, stretch, column);

        .content {
            padding: .5rem;
            margin: 0;
            @include FlexBox (center, center, column);

            .service-card {
                width: 400px;
            }
        }
    }

    .cadastro-locais {
        text-align: center;
        padding: 2rem;
        @include FlexBox(space-between, center, column);
        gap: 3rem;

        .content {
            width: 70%;
        }

        form {
            @include FlexBox(start, stretch, column);
            width: 85%;
            margin-bottom: 2rem;
        }

    }


    footer {
        .content {
            @include FlexGrid (2, 1fr);
            gap: 3rem;
        }
    }
}


@media (max-width: 950px) {

    .destaque {
        .content {

            .desc {
                h3 {
                    font-size: 3rem;
                }
            }
        }
    }


    .food {
        .FoodSwiper {
            .swiper-wrapper {
                .swiper-slide {

                    .card-pratos {

                        min-width: 100%;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }


}

@media (max-width: 780px) {

    /*======================================== INDEX ======================================== */
    /* HERO */
    .HeroSwiper {


        .hero-slide-1 {
            .content {
                form {
                    width: 100%;
                }
            }
        }

        .hero-slide-3 {

            .content {
                width: 100%;

                p {
                    padding: 0;
                }

            }
        }



    }

    /* DESTAQUE */
    .destaque {
        .content {

            .desc {
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }

    /* LOCAIS */
    .locais {
        .content {
            @include FlexGrid (2, 250px);

            .link-card {

                img {
                    height: 250px;
                }
            }
        }
    }


    .empresas {

        .EmpresasSwiper {

            h2 {
                padding-inline: 2rem;
            }
        }
    }
}


@media (max-width: 768px) {


    /*======================================== INDEX ======================================== */
    /* HERO */
    .HeroSwiper {


        .hero-slide-1 {
            .content {
                form {
                    width: 100%;
                }
            }
        }

        .hero-slide-3 {
            padding: 0;
            @include FlexBox (center, stretch, column);

        }
    }

    /* DESTAQUE */
    .destaque {
        gap: 3rem;

        .content {
            @include FlexGrid (1, 1fr);
            gap: 3rem;
            place-items: center;

            img {
                width: 300px;
            }

            .desc {
                @include FlexBox (center, center, column);
                text-align: center;
            }
        }
    }

    /* FILTRO DE PESQUISA COM MAPA */
    .filtersearch {
        padding: 2rem;


        .search-map {
            min-width: 250px;
            flex: 1;
            height: 300px;

        }

        .content {
            width: 100%;
            flex: 1;
        }
    }
}


@media (max-width: 700px) {

    /*======================================== INDEX ======================================== */
    /* SERVIÇOS */
    .services {
        @include FlexBox (center, stretch, column);

        .content {
            padding: .5rem;
            margin: 0;
            @include FlexBox (center, center, column);

            .service-card {
                width: 400px;
            }
        }
    }



    .locais {
        .content {
            padding-inline: 4rem;
            @include FlexGrid (2, 250px);


            .link-card {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .cadastro-locais {
        text-align: center;
        padding: 2rem;
        @include FlexBox(space-between, center, column);
        gap: 3rem;

        form {
            @include FlexBox(start, stretch, column);
            width: 85%;
            margin-bottom: 2rem;
        }

    }


    footer {
        .content {
            @include FlexGrid (2, 1fr);
            gap: 3rem;
        }
    }
}


@media (max-width: 668px) {


    .locais {
        .content {
            padding-inline: 2rem;
        }
    }
}


@media (max-width: 650px) {
    .food {
        padding: 0;

        .FoodSwiper {
            padding-inline: 0;

            .swiper-wrapper {
                padding: 0;

                .swiper-slide {
                    margin: 0;
                    padding: 0;

                    .card-pratos {

                        min-width: 270px;
                        scale: .99;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 600px) {

    .destaque {
        padding-inline: 4rem;
    }

    .locais {
        .content {
            @include FlexGrid (1, 250px);
            padding: 1rem 2rem;
        }
    }

    .cadastro-locais {

        .content {
            width: 90%;

            h2 {
                font-size: $size-biggest;
                margin-bottom: 2rem;
            }

            p {
                width: 80%;
                color: $color-gray-darkness-2;
            }
        }
    }

    .filtersearch {

        .tools {
            display: block;
            flex: 1;
            margin: 5%;
        }

        .content {
            padding: 0;

            .swiper-wrapper {
                .swiper-slide {
                    .card-pratos {
                        .info {

                            .acima {

                                .spans {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    gap: 0.3rem;
                                    margin-top: 8px;

                                    .tagincolhe {

                                        .pop,
                                        .freeshipping {

                                            font-size: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 570px) {

    .HeroSwiper {
        .content {
            padding: 1rem;
        }

        .hero-slide-2 {
            padding: 2rem;
        }

        .hero-slide-3 {
            .content {
                h1 {
                    font-size: 3.5rem;
                }
            }
        }
    }

    .filtersearch {
        .content {
            .PesquisaSwiper {

                .swiper-slide {
                    margin-top: 1rem;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                }

                #cardone {
                    margin: 2rem auto auto;
                    @include FlexBox(space-between, stretch, column);
                    padding: 0;
                    max-width: 320px;

                    img {
                        width: 100%;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .info {
                        padding: .5rem;

                        .pop {
                            margin-left: 0.3rem;
                        }

                        h3 {
                            margin-top: 0.5rem;
                        }

                        .extras {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    .cadastro-locais {
        padding: 1rem;

        .content {
            width: 100%;

            form {
                width: 100%;
                padding: 0.5rem;
            }
        }
    }

    footer {
        .content {
            @include FlexGrid (1, 1fr);
        }
    }
}

@media (max-width:480px) {

    .container {
        padding: 2.2rem;
    }

    /* HERO */
    .HeroSwiper {

        .swiper-slide {

            .content {

                h1,
                h2 {
                    font-size: 2.7rem;
                    padding: 0;
                }

                p {
                    padding: 0;
                }
            }
        }

        .hero-slide-1 {
            .content {
                form {
                    min-width: 100%;
                }
            }
        }


        .hero-slide-3 {
            .content {
                p {
                    padding-inline: 1rem;
                }
            }
        }

    }

    .destaque {
        gap: 2rem;
    }

    .services {
        .content {
            padding: 0;

            .service-card {
                width: 100%;
            }
        }
    }

    .filtersearch {
        padding: 1rem;
    }
}


@media (max-width:360px) {



    /* HERO */
    .HeroSwiper {

        .swiper-slide {

            .content {

                h1,
                h2 {
                    font-size: 2.5rem;
                }
            }
        }

        .hero-slide-2 {
            .content {
                .cta {
                    @apply flex flex-col self-start;
                }
            }
        }

    }


    .food {
        .FoodSwiper {
            .swiper-wrapper {
                .swiper-slide {

                    .card-pratos {
                        scale: .9;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .filtersearch {
        .content {
            .btn-input-text {
                max-width: 150px;
            }
        }
    }

    .cadastro-locais {

        form {
            width: 100%;
            padding: 1rem;
        }
    }
}