@media (max-width: 1200px) {
    .main {
        .explorartudo {
            .FoodSwiper {
                .swiper-botoes {
                    @apply top-16 mt-1 -right-8;
                }
            }
        }
    }
}


@media (max-width: 992px) {
    .hero {
        padding: 6rem 6rem;
    }

}

@media (max-width: 950px) {
    .hero {
        padding: 6rem 4rem;

        img {
            max-width: 325px;
        }
    }

}

@media (max-width: 860px) {
    .hero {
        padding: 6rem 8rem;
        @include FlexBox (center, center, column);
    }

    .content {
        @apply flex flex-col items-center justify-center text-center;

        button {
            @apply self-center;
        }
    }

    .main {
        .content-explorar {

            #title-explore {
                font-size: $size-large;
            }

            .other {

                
            .filter {

                p,
                i,
                option {
                    scale: .85;
                }
            }
            }
        }
    }
}


@media (max-width: 768px) {
    .main {
        padding: 4rem;
    }
}


@media (max-width: 650px) {
    .content-explorar {

        form {
            @apply gap-0;

            .filter {
                padding: 0.5rem 1rem;
                font-size: .8rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .hero {
        padding: 4rem 4rem;
    }

    .main {
        padding: 1rem;

        
        .content-explorar{
            @apply items-start mb-2 mt-8;

            #title-explore{
                font-size: $size-small;
                margin: auto 0;
            }

            .other{
  .filter{
                    height: 30px;
                    p,i,select,option{
                        font-size: 13px;
                    }
                } 
            }
        }

        .explorartudo {
            .FoodSwiper {
                
                h3{
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                    margin-left: 0;
                }
                .swiper-wrapper {
                    @apply relative;
                    padding: 0;

                    .swiper-slide {
                        padding: 0;
                    }
                }

                .swiper-botoes {
                    @apply absolute p-0 m-0 top-6 -right-8;


                    .swiper-button-prev,
                    .swiper-button-next {
                        @apply m-0
                    }
                }
            }
        }
    }
}

@media (max-width: 490px) {
    .hero {
        padding: 4rem 2rem;
        @include FlexBox (center, center, column);
    }

    .main{
        .content-explorar{
            #title-explore{
                font-size: $size-small;
            }
            .other{
                .filter{
                    padding: 0.5rem;
                }
            }
        }
    }


    .content {

        h1 {
            font-size: $size-biggest;
        }
    }
}